
/* Stile per i link della navbar */
header a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline;
}

header nav ul li a. :hover{
    color: #03424e;
    font-weight: bold;
}

header #logo > img {

    width: 100px;
    height: 100px;
    object-fit: contain;

}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

header .omino{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
header{
    padding-bottom: 80px;
}

header nav img {
    height: 80px;
}

header nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
    z-index: 1000;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

header nav #menu{
    display: none;
}
header nav #user{
    display: block;
}
header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #498e99;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #03424e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #a4a4a4;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 800px) {
    nav ul {
        display: none;
    }

    nav #menu {
        display: block;
    }

    header #user {
        display: none;
    }
}











