.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group .input-container {
    position: relative;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 12px;
    outline: none;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007BFF;
}

.form-group .error-icon, .form-group .success-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.form-group .error {
    color: red;
    padding-top: 8px;
}

.form-group input.border-red {
    border-color: red;
}

.form-group input.border-green {
    border-color: green;
}

.form-group .error-icon.visible, .form-group .success-icon.visible {
    display: inline;
}

.error-message {
    color: red;
    padding-top: 8px;
}

/* Stile per il container principale */
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.form-container,
.order-list-container {
    flex: 1 1 45%;
    box-sizing: border-box;
}




.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: #5d9ea8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #498e99;
}