/* homepage/style.css */
body, html {
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#frontPage {
    position: relative;
    width: 100%;
    height: 100vh;
}

#mainVideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.itemPage {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%; /* Ensure images take full width of their container */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


