@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: auto;
    margin: auto;
}

.riga{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    list-style: none;
}

footer{
    margin-top: auto;
    position: relative;
    bottom: 0;
    background-color: #c0c0c0;
    padding: 26px 0 1px 2px;
    flex-shrink: 0;
    width: 100%;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

@keyframes line-grow {
    0% {
        width: 0;
    }
    100% {
        width: 50px;
    }
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #03424e;
    height: 4px;
    box-sizing: border-box;
    width: 50px;
    animation: line-grow 2s ease-in-out;
}

.footer-col h4, .footer-col ul li a, .copyrightText p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-col ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: #03424e;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #03424e;
    padding-left: 8px;
}

.social{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 20px;
}
.copyrightText{
    margin-bottom: 0;
    background-color: #03424e;
    position: relative;
    bottom: 0;
}
.copyrightText p{
    margin-top: 30px;
    color:white;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

}

i{
    color: #03424e;
}



@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
