
/* Stile per i link della navbar */
 a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

a:hover {
    background-color: #03424e;
}

.omino{
    height: 70px;
}
header{
    padding-bottom: 80px;
}

nav img {
    height: 80px;
}

nav {
    background-color: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

nav #menu{
    display: none;
}
nav #user{
    display: block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #498e99;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #03424e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #a4a4a4;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 800px) {
    nav ul {
        display: none;
    }

    nav #menu {
        display: block;
    }

    header #user {
        display: none;
    }
}











