a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    
}

nav #title {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.menu {
    float:center;
    li {
        background: none;
        color: white;
        padding: 14px 16px;
        margin-right: 10px;
    }
    li a:hover {
        font-weight: bolder;
        color: wheat;
      }
}

#Account {
    float:right;
}

#AccountLogo {
    float: right;
    padding-top: 10px;
    width: 70px;
    height: auto;
}

li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
}

#frontPage {
    width: 100%;
    margin-top: 700px;
    background-color: rgba(0, 0, 0, 0.317);
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainVideo {
    position: absolute;
    top: 86px;
    z-index: -1;
}


.itemPage {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%%;
    li img{
        width: 75%;
        height: 75%;
    }

    li {
        float: center;
        padding-right: 20px;
        margin-right: 50px;
    }
    li img:hover { 
        background-color: rgba(214, 214, 191, 0.707);
    }
}



.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.infobar {
    align-items:  flex-start;
    margin-top: 0;
    margin-left: 0;
    float: center;
    margin: 15%;
    top : 0;
}

.infobar h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: left;
}

.photos {
    float: left;
    padding-right: 100px;
    margin-left: 20%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.mainPhoto {
    background-color: rgba(128, 128, 128, 0.287);
    height: 500px;
    width: 500px;
    margin-right: 50%;
    margin-bottom: 10px;
}

.photo {
    background-color: rgba(128, 128, 128, 0.287);
    margin-right: 10px;
    height: 245px;
    width: 245px;
}












